<div class="section p-3">
  <!-- <h2 class="mb-4">Post Content</h2> -->
  <%= simple_form_for @post do |f| %>
  <form>
    <div class="form-group">
      <%= f.input :title, input_html: { class: 'input form-control' }, wrapper: false, label_html: { class: 'label' }%>
    </div>
    <div class="form-group">
      <%= f.input :description, input_html: { class: 'input form-control' }, wrapper: false, label_html: { class: 'label' }%>
    </div>
    <div class="form-group">
      <%= f.input :content, input_html: { class: 'textarea form-control' }, wrapper: false, label_html: { class: 'label' }%>
    </div>
    <button data-cy="updateButton" type="submit" class="btn btn-primary">
      <%= f.button :submit, 'Create Post', class: 'button is-primary' %>
    </button>
  </form>
  <% end %>
</div>