<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10">
      <markdown>
        <h1 id="magna-nostrud-incididunt-cupidatat-cillum-incididunt-et-nisi-in-ut-minim-reprehenderit">
          <%= @post.title %>
        </h1>
        <p>Description</p>
        <p>
          <%= @post.content %>
        </p>
      </markdown>
      <button type="button" class="btn btn-primary">
        <%= link_to 'Edit Post', edit_post_path(@post), class: 'button' %>
      </button>
      <button _ngcontent-ggo-c50="" class="btn btn-danger">
        <%= link_to 'Delete Post', post_path(@post), method: :delete, data:{confirm: 'Are you sure? '}, class: 'button is-danger' %>
      </button>
    </div>
    <!---->
    <section class="section comments">
      <div class="container">
        <div class="comment-form">
          <hr>
          <span class="font-weight-bold">Discussion</span>
          <%= render 'comments/form'%>
        </div>
        <h2 class="subtitle is-6"><strong><%= @post.comments.count %></strong> Comments</h2>
        <%= render @post.comments%>
      </div>
    </section>
  </div>
</div>
