<div class="container">
  <div class="row">
    <div class="col-12">
      <markdown>
        <h1 id="title-post">
          <%= @post.title %>
        </h1>
        <p>Description</p>
        <p>
          <%= @post.content %>
        </p>
      </markdown>
      <button type="button" class="btn btn-success">
        <%= link_to 'Edit Post', edit_post_path(@post) %>
      </button>
      <button class="btn btn-danger">
        <%= link_to 'Delete Post', post_path(@post), method: :delete, data:{confirm: 'Are you sure? '} %>
      </button>
    </div>
  </div>
  <!---->
  <div class="row">
    <div class="col-12">
      <!--MODAL-->
      <!-- Button trigger modal -->
      <!-- Modal -->
      <% if !account_signed_in? %>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content navbar navbar-expand-md">
              <ul class="navbar-nav">
                <li class="nav-item active text-center">
                  <%= render 'devise/sessions/new'%>
                </li>
                <li class="nav-item collapse">
                  <%= render 'devise/registrations/new'%>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
      <!--MODAL-->
      <div class="card my-4">
        <h5 class="card-header">
          Leave a Comment:
          <strong class='ml-5'><%= @post.comments.count %></strong>
        </h5>
        <div class="card-body">
          <%= render 'comments/form'%>
        </div>
      </div>
      <%= render @post.comments%>
    </div>
  </div>
</div>
